@media (max-width: 1366px) {
    .title {
        padding-top: 30px;
    }
    .top {
        &__title {
            font-size: 72px;
            line-height: 90px;           
            margin-bottom: 70px;            
            height: 35vh;
        }        
        &__picture-img {
            width: 400px;        
            position: absolute;
            bottom: 20vh;
        }
        &__picture-text {        
            margin-bottom: 5px;
            max-width: 325px;     
        }
        &__social {
             margin: 0 5px;
        }           
    }    
    .description {
        &__box::before {               
                top: 45px; 
                right: -90px;                
        }
        &__box-img {
            right: -80px;
            top: 55px; 
        }
        &__box-text {
            top: -15px;
            right: 180px; 
        }       
    }
}
 
@media (max-width: 1100px) {  
    .header{
        &__menu {
            order: 1;
        }
        &__menu-burger {
            display: block;
            background-color: transparent;
            padding: 0;
            border: none;
            outline: none;
            cursor: pointer;
        }
        &__menu-burger::before,
        &__menu-burger::after {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background-color: #E0E0E0;
            margin-bottom: 4px;
            transition: transform 0.3s;
        }
        &__menu-burger::after {
            width: 16px;
            margin-left: auto;
            margin-bottom: 0px;
        }
        &__menu-line {
            display: block;
            width: 24px;
            height: 2px;
            background-color: #E0E0E0;
            margin-bottom: 4px;
            opacity: 1;
            transition: opacity 2s;
        }
        &__menu-list {
            display: grid;
            place-items: center;            
            padding: 25vh;
            font-weight: 400;
            font-size: 18px;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(#1c1c1c, 0.95);
            z-index: -1;
            transform: translateX(-100%);
            transition: transform 0.4s;            
        }        
        &__info-phone {
            display: none; 
        }        
    }
    .header__menu-burger.btn--active {
        .header__menu-line{
            opacity: 0;
        }
        &::after {
            width: 24px;
            transform: translateY(-6px) rotate(45deg);
        }
        &::before {
            transform: translateY(6px) rotate(135deg);
        }
    }
    .header__menu-list.menu--active {
        & {
            transform: translateY(0);
        }
        .header__info-phone,
        .header__mobile-phone {
            display: block;
            padding-left: 10px;
        }  
        .header__mobile-phone {
            position: relative;
            padding-top: 33px; 
            &::before {
                content: "";
                position: absolute;
                border-top: 1px solid rgba(#fff, 0.3);
                top: 0;
                left: 0;
                right: 0;
                margin-left: 20px;  
            }
        }      
    }
    .description {
        &__text {
            padding-left: 10px;
        } 
        &__box::before {
                width: 420px;
                height: 220px; 
                top: 45px; 
                right: -90px;
            }            
        &__box-img {
            width: 420px;
            height: 220px;             
        }  
        &__box-text {
            right: 50px;            
        }       
    }
    .feature {
        &__box-1::before {
            top: 75px;
            left: 230px;
        }
        &__box-2::before {
            top: 100px;
            right: 180px;
            z-index: 10;
        }        
        &__box-3::before {
            bottom: 120px;
            left: 120px;
        }
        &__box-4::before {
            bottom: 115px;
            right: 300px;
        }
        &__box-5 {
            bottom: 18vh; 
            left: 20vw;  
        } 
    } 
}

@media (max-width: 1024px) {
    .benefits {
        &__inner {
            display: grid; 
            grid-template-columns: 1fr;       
            grid-row-gap: 6px;
            margin-top: 40px;
        }
        &__box {  
            &:nth-child(1) {
                margin-left: 40px;
            }
            &:nth-child(2) {
                margin-top: 0px;
                margin-left: 260px;
            }
            &:nth-child(3) {
                margin-left: 80px;
            }
            &:nth-child(4) {
                margin-top: 0px;
                margin-left: 210px;
            }
            &:first-child()::before,
            &:nth-child(3)::before,
            &:nth-child(3)::after {
               display: none;
            }
        } 
    }
}

@media (max-width: 960px) {
    .title {
        margin-bottom: 0;
    }
    .description {
        &__inner {
            display: flex;
            flex-direction: column;        
            padding: 0 50px;
        }  
        &__text {
            max-width: 100%;
            p {
                margin-bottom: 10px;
            }
        }
        &__box::before {               
            top: 0;
            right: -60px;
        }
        &__box-img {
            right: -50px;
            top: 10px; 
        }
        &__box-text {
        width: 285px;
        font-size: 18px;
        line-height: 18px;           
        top: 20px;
        right: 180px; 
        }        
    }
    .feature {
        &__inner {
            padding-top: 30px;
        }
        &__box-1::before {
            top: 120px;
            left: 140px;
            z-index: 10;
        }
        &__box-2::before {
            top: 100px;
            right: 150px;
            z-index: 10;
        }        
        &__box-3::before {
            bottom: 150px;
            left: 90px;
        }
        &__box-4::before {
            bottom: 115px;
            right: 300px;
        }
        &__box-5 {
            bottom: 18vh; 
            left: 15vw;  
        } 
    } 
} 

@media (max-width: 900px) {
    .feature {
        &__box-1::before {
            top: 120px;
            left: 140px;
        }
        &__box-2::before {
            top: 100px;
            right: 100px;
        }        
        &__box-3::before {
            bottom: 150px;
            left: 20px;
        }
        &__box-4::before {
            bottom: 115px;
            right: 240px;
        }        
    } 
}
@media (max-width: 860px) {
    .feature {
        &__inner {
            grid-column-gap: 26px;
        }        
        &__box-1::before,
        &__box-2::before,
        &__box-3::before,
        &__box-4::before {
            display: none;
        } 
        &__box-5 {
            top: 180px;
            left: 60px;
            transform: scale(0.75);
        }        
    } 
}

@media (max-width: 748px) {
    .benefits__box {  
        &:nth-child(1) {
            margin-left: 20px;
        }
        &:nth-child(2) {               
            margin-left: 130px;
        }
        &:nth-child(3) {
            margin-left: 60px;
        }
        &:nth-child(4) {
            margin-left: 160px;
        }
    }
    .feature__box-5 {
        left: 10px;
    }    
} 

@media (max-width: 640px) {
    .description__box {               
           display: none;
    }  
    .benefits__box {  
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            margin-left: 0;
        }
    }
    .feature {
        &__inner {
            grid-template-areas: 
                "box-1"  
                "box-2" 
                "box-3"  
                "box-4";
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
        }
        &__box-5 {
            display: none;
        }
    }         
} 