@media (max-width: 1366px) {
    .top {
        &__title {
            font-size: 72px;
            line-height: 90px;           
            margin-bottom: 70px;            
            height: 35vh;
        }        
        &__picture-img {
            width: 400px;        
            position: absolute;
            bottom: 20vh;
        }
        &__picture-text {        
            margin-bottom: 5px;
            max-width: 325px;     
        }
        &__social {
             margin: 0 5px;
        }        
    }
}  
@media (max-width: 1100px) {  
    .header{
        &__menu {
            order: 1;
        }
        &__menu-burger {
            display: block;
            background-color: transparent;
            padding: 0;
            border: none;
            outline: none;
            cursor: pointer;
        }
        &__menu-burger::before,
        &__menu-burger::after {
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background-color: #E0E0E0;
            margin-bottom: 4px;
            transition: transform 0.3s;
        }
        &__menu-burger::after {
            width: 16px;
            margin-left: auto;
            margin-bottom: 0px;
        }
        &__menu-line {
            display: block;
            width: 24px;
            height: 2px;
            background-color: #E0E0E0;
            margin-bottom: 4px;
            opacity: 1;
            transition: opacity 2s;
        }
        &__menu-list {
            display: grid;
            place-items: center;            
            padding: 25vh;
            font-weight: 400;
            font-size: 18px;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(#1c1c1c, 0.95);
            z-index: -1;
            transform: translateY(-100%);
            transition: transform 0.4s;            
        }
        &__info-btn,
        &__info-phone {
            display: none; 
        }        
    }
    .header__menu-burger.btn--active {
        .header__menu-line{
            opacity: 0;
        }
        &::after {
            width: 24px;
            transform: translateY(-6px) rotate(45deg);
        }
        &::before {
            transform: translateY(6px) rotate(135deg);
        }
    }
    .header__menu-list.menu--active {
        & {
            transform: translateY(0);
        }
        .header__info-phone,
        .header__mobile-phone {
            display: block;
            padding-left: 10px;
        }  
        .header__mobile-phone {
            position: relative;
            padding-top: 33px; 
            &::before {
                content: "";
                position: absolute;
                border-top: 1px solid rgba(#fff, 0.3);
                top: 0;
                left: 0;
                right: 0;
                margin-left: 20px;  
            }
        }      
    } 
}