@import "vars";
@import "libs";
@import "fonts";
@import "global";


//* HEADER section
.header {
    position: fixed;
    background-color: rgba(0,0,0, 0.6);
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        padding: 30px 0;        
        text-transform: uppercase;
        line-height: 17px;
        font-size: 15px;
        @extend %ubuntu-medium;
    } 
    &__info-btn {
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 1px;
        margin-right: 8px;
        text-transform: uppercase;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            color:#1C1C1C;
            background-color: #fff;            
        }
    }
    &__info-phone {
        font-size: 16px;
        line-height: 18px;
        transition: all 0.3s;
        @extend %ubuntu-bold;
        &:hover {
            color: gold;
        }
    } 
    &__menu-burger {
        display: none;
    }   
    &__menu-item {
        display: inline-block;    
        & + .header__menu-item {
            padding-left: 20px;
        }    
        &:hover {
            color: gold;
        }        
    }    
    &__mobile-phone {
        display: none;
    }
}

//* TOP section
.top {
    background-image: url("../images/header_top.jpg");
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.5; 
    }   
    &__wrapper {
        display: flex;
        align-items: flex-end;
    } 
    &__inner,
    &__picture {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center; 
    }
    &__title {
        font-size: 96px;
        line-height: 115px;
        @extend %sf-semibold;
        margin-bottom: 45px;
        text-shadow: 2px 2px 15px black;
        height: 45vh;
    }        
    &__picture-img {
        width: 520px;        
        position: absolute;
        bottom: 15vh;
    }
    &__picture-text {        
        margin-bottom: 35px;
        max-width: 325px;        
        text-shadow: 0 0 15px black;       
    }
    &__social {
        display: inline-block;        
        margin: 0 25px;
    }
    &__social-link {
        opacity: 0.5;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
        & + .top__social-link {
            margin-left: 30px;
        }           
    }
}

//* DESCRIPTION section
.description {
    &__inner {
        display: flex;
        justify-content: space-between;        
        padding: 0 50px;
    }
    &__text {
        max-width: 440px;
        p {
            margin-bottom: 30px;
        }
    }    
    &__box {
        position: relative;
        max-width: 560px;
        &:before {
            content: "";
            position: absolute;
            width: 560px;
            height: 280px; 
            top: 225px; 
            right: 0;
            border: 4px solid #FFFFFF; 
        } 
    }    
    &__box-img {
        width: 560px;
        height: 280px; 
        position: absolute;
        right: 10px;
        top: 235px; 
    }  
    &__box-text {
        width: 285px;
        position: absolute;        
        font-size: 20px;
        line-height: 28px;
        @extend %ubuntu-medium;
        bottom: -265px;
        right: 450px; 
        z-index: 5;
    }    
}

//* BENEFITS section
.benefits {
    &__inner {
        display: grid;        
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-column-gap: 10px;
        grid-row-gap: 96px;            
        padding-left: 25px;
        margin-top: 110px;
    }
    &__box {        
        display: flex;
        align-items: baseline;  
        &:nth-child(2) {
            margin-top: 25px;
        }
        &:nth-child(3) {
            margin-left: 30px;
        }
        &:nth-child(4) {
            margin: 20px 0 0 40px;
        }
        &:first-child(),
        &:nth-child(3) {
           position: relative;
           &::before,
           &::after {
               content: "";
               position: absolute;
               background-repeat: no-repeat;
               background-position: 0 0;
            }
        }
        &:first-child {
            &::before {
                background-image: url("../images/curved_1-2.svg");
                width: 245px;
                height: 45px; 
                right: -16px;
                top: 30px;           
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url("../images/curved_3-4.svg");
                width: 254px;
                height: 43px;    
                right: -60px;
                top: 30px;              
            }
            &::after {
                background-image: url("../images/curved_2-3.svg");
                width: 463px;
                height: 62px;
                right: -30px;
                top: -80px;
            }
        }
    }    
    &__num {
        line-height: 41px;
        font-size: 36px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__info {
        display: flex;
        position: relative;
        margin: 0;          
        &::before {
            content: "";
            position: absolute;
            border: 2px solid #fff;
            width: 193px;
            height: 128px;
            left: 10px;
            top: -8px;
            z-index: -1;
        }
    }
    &__info-img {
        margin-right: 20px;
        width: 195px;
        height: 130px;
    } 
    &__info-desc {
        max-width: 300px;
    }
    &__info-title {
        width: 123px;
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__info-text {
        font-size: 15px;
        line-height: 18px; 
    }    
}

//* FEATURE section
.feature {
    &__inner {
        display: grid;
        grid-template-areas: 
        "box-1  box-2" 
        "box-3  box-4";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 280px 280px;
        grid-gap: 25vh;
        height: 100%;        
        justify-content: space-between; 
        padding-left: 50px;
        position: relative;        
    }    
    &__box-1 {
        grid-area: box-1;  
        position: relative;   
        &::before {
            content: "";
            background-image: url("../images/pointer_1.svg");
            width: 229px;
            height: 114px;
            top: 75px;
            left: 290px;
            position: absolute; 
        }
    }
    &__box-2 {
        position: relative; 
        grid-area: box-2; 
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/pointer_3.svg");
            width: 258px;
            height: 103px;            
            top: 90px;
            right: 290px;
        }
    }
    &__box-3 {
        grid-area: box-3; 
        position: relative; 
        &::before {
            content: "";
            background-image: url("../images/pointer_2.svg");
            position: absolute;
            width: 346px;
            height: 81px;
            bottom: 130px;
            left: 200px;
            z-index: 10;
        }
    }
    &__box-4 {
        grid-area: box-4; 
        position: relative; 
        &::before {
            content: "";
            background-image: url("../images/pointer_4.svg");
            position: absolute;
            width: 124px;
            height: 89px;
            bottom: 132px;
            right: 300px;
            z-index: 10;
        }
    }
    &__box-5 {
        grid-area: box-5;
        position: absolute;
        bottom: 18vh; 
        left: 23vw;  
        z-index: 5;                 
    } 
    &__box-title {
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__box-text{
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }    
}

//* QUESTION section
.questions {
    &__inner {
        max-width: 757px;
    } 
    &__article {
        background-color: rgba(23, 26, 28, 0.3);
        max-width: 690px;
        position: relative;
        &:nth-child(3)::before {
            content: "";
            position: absolute;
            width: 319px;
            height: 125px;
            top: -33px;
            right: -392px;
            background-image: url("../images/question_dron.png");
            z-index: 1;
        }

    }
    &__article-title {
        line-height: 28px;
        font-size: 21px;
        @extend %ubuntu-medium;
        color: rgba(#fff, 0.8);
        padding: 20px 10px 20px 40px;
        position: relative;
        margin-bottom: 4px;
        cursor: pointer;
        &::after {
            content: url("../images/question_arrow.svg");
            position: absolute;
            width: 72px;
            height: 67px;
            background-color: #fff;
            right: -72px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }   
    &__article-text {        
        font-size: 15px;
        line-height: 22px;
        margin: 0 0 4px;
        visibility: hidden;
        height: 0;
        transition: all 0.3s;
        opacity: 1;  
    }
    &__article.questions__article--active {
        .questions__article-title::after {
            transform: rotate(180deg);            
        }
        .questions__article-text {
            visibility: visible;
            height: 100%;  
            padding: 0 5px 45px 75px;
            opacity: 1;         
        }
    }       
}

//* CONTACTS section
.contacts {
    &__inner {
        display: flex;
        padding-left: 50px;
    }
    &__info {
        width: 240px;
        margin-right: 75px;
    }
    &__article {
        margin-bottom: 30px;
    }
    &__article-title {
        line-height: 24px;
        font-size: 21px;
        @extend %ubuntu-bold;
        margin: 0 0 13px ;
    }
    &__article-phone,
    &__article-email {
        margin-left: 10px;
        font-size: 15px;
        line-height: 18px;
        &:hover {
            color: gold;
        }
    }
    &__article-email:hover {
        text-decoration: underline;
    }
    &__form {
        width: 570px;
        margin-right: 106px;
    }
    &__form-title {
        line-height: 24px;
        font-size: 21px;
        @extend %ubuntu-bold;
        margin: 0 0 16px;        
    }
    &__form-text {
       font-style: 15px;
       line-height: 18px;
       margin: 0 0 14px;
    }
    &__form-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__form-input,
    &__form-textarea {
       border: none;
       background:rgba(0, 0, 0, 0.5);
       @extend %ubuntu-regular;
       padding: 15px;    
       font-size: 13px; 
       line-height: 15px;       
       color: rgba(#fff, 0.4);       
    }
    &__form-input {
        width: 49%;
    }
    &__form-textarea {
        min-height: 144px;
        width: 100%;
        resize: none;
        margin-bottom: 16px; 
    }
    &__form-btn {
        text-transform: uppercase;
        @extend %ubuntu-bold;
        font-size: 14px;
        line-height: 16px; 
        letter-spacing: 0.03em;
        color: #FFFFFF;
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 9px 15px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.25s;
        &:hover {
            background-color: #fff;
            color: #1C1C1C;
        }
    }
    &__social {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    &__social-link {
        margin: 14px 0; 
        opacity: 0.5;
        transition: all 0.25s;
        &:hover {
            opacity: 1;
        }
    }
}

@import "media";